@font-face {
        font-family: "Basic Title Font";
        src: url(basictitlefont.ttf);
}

* {
    font-family: "Basic Title Font";
}

.header {
  text-align: center;
}

#row {
text-align: center;
margin-left: 160px;
}

.image {
  height: 200px;
  width: 300px;
  text-align: center;
  position: relative;
  display: inline-block;
  float:left;
  margin-left: 10px;
  border-radius: 10px;
  border:1px solid #021a40;
}

#nav {
  display: fixed;
  width: auto;
  margin-left: 0px;
  margin-top: 0px;
}

li {
  padding: 5px;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

ol li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

blockquote {
  text-align: center;
}

#about {
  clear: both;
  margin-left: 480px;
  margin-top: 30px;
}

#contact {
  background-color: grey;
  opacity: 0.5;
  width: 30%;
  height: 100%;
  padding: 10px;
  margin-left: 435px;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

#contactNav {
  text-align: center;
}

#input1 {
  font-family: sans-serif;
}

#jsForm {
  position: relative;
  display: inline-block;
  float:left;
  margin-top: 50px;
  margin-left: 540px;
  text-align: center;
}
